EXPLORING HACKER'S NEWS POSTS

In this project, we compare two types of posts to determine:
1. The post that receives more comments on average.
2. If posts created at a certain time receive more comments on average.

The first step of this project is to read the hacker_news.csv file in as a list of lists alias hn and display it's the first five rows.

In [1]:
from csv import reader
opened_file = open("hacker_news.csv")
read_file = reader(opened_file)
hn = list(read_file)
print(hn[:5])

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'], ['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']]

Removing Headers from a List of Lists
In this step, we extract the first row and assign it to the variable headers, remove the first row from hn, display headers and display the first five rows of hn to verify that you removed the header row properly

In [2]:
headers = hn[0]
hn = hn[1:]
print(headers)
print(hn[:5])

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

Extracting Ask HN and Show HN Posts:
Create three empty lists called ask_posts, show_posts, and other_posts
Loop through each row in hn.
Assign the title in each row to a variable named title.
Because the title column is the second column, you'll need to get the element at index 1 in each row.
Implement the following steps:
If the lowercase version of title starts with ask hn, append the row to ask_posts.
Else, if the lowercase version of title starts with show hn, append the row to show_posts.
Else append to other_posts.
Check the number of posts in ask_posts, show_posts, and other_posts.

In [3]:
ask_posts =[]
show_posts =[]
other_posts =[]
for row in hn:
    title = row[1]
    title = title.lower()
    if title.startswith("ask hn"):
        ask_posts.append(row)
    elif title.startswith("show hn"):
        show_posts.append(row)
    else:
        other_posts.append(row)
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

Calculating the Average Number of Comments for Ask HN and Show HN Posts:
Find the total number of comments in ask posts, and assign it to total_ask_comments.
Set total_ask_comments to 0.
Use a for loop to iterate over the ask posts.
Because the num_comments column is the fifth column in ask_posts, you'll need to get the element at index 4 in each row.
You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
Add this value to total_ask_comments.
Compute the average number of comments on ask posts, and assign it to avg_ask_comments.
Print avg_ask_comments.
Find the total number of comments in show posts, and assign it to total_show_comments.
Set total_show_comments to 0.
Use a for loop to iterate over the show posts.
Because the num_comments column is the fifth column in show_posts, you'll need to get the element at index 4 in each row.
You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
Add this value to total_show_comments.
Compute the average number of comments on show posts, and assign it to avg_show_comments.
Print avg_show_comments.

In [4]:
total_ask_comments = 0
for row in ask_posts:
    comments = row[4]
    comments = int(str(comments))
    total_ask_comments += comments
    avg_ask_comments = total_ask_comments/len(show_posts)
print(avg_ask_comments)

total_show_comments = 0
for row in show_posts:
    comments = row[4]
    comments = int(comments)
    total_show_comments = total_show_comments+ comments
    avg_show_comments = total_show_comments/len(show_posts)
print(avg_show_comments)

21.0697074010327
10.31669535283993

From the findings above, ask posts receive more comments on average than show posts.

Finding the Number of Ask Posts and Comments by Hour Created.
Import the datetime module as dt.
Create an empty list, and assign it to result_list. This will be a list of lists.
Iterate over ask_posts, and append to result_list a list with two elements:
The first element should be the column created_at.
Because the created_at column is the seventh column in ask_posts, you'll need to get the element at index 6 in each row.
The second element should be the number of comments of the post.
You'll also need to convert the value to an integer.
Create two empty dictionaries called counts_by_hour and comments_by_hour.
Loop through each row of result_list.
Extract the hour from the date, which is the first element of the row.
Use the datetime.strptime() method to parse the date and create a datetime object.
Use the string we want to parse as the first argument and a string that specifies the format as the second argument.
Use the datetime.strftime() method to select just the hour from the datetime object.
If the hour isn't a key in counts_by_hour:
Create the key in counts_by_hour, and set it equal to 1.
Create the key in comments_by_hour, and set it equal to the comment number.
If the hour is already a key in counts_by_hour:
Increment the value in counts_by_hour by 1.
Increment the value in comments_by_hour by the comment number.

In [28]:
import datetime as dt
result_list = []
for row in ask_posts:
    create_time = row[6]
    comment = int(row[4])
    for i in range(2):
        result_list.extend([create_time, comment])

counts_by_hour = {}
comments_by_hour = {}
#dates =[]
for row in result_list:
    index = result_list.index(row)
    if index==0 or index%2 ==0:
        date = row
    else:
        comment = row
        comment = int(str(comment))

    #dates.append(date)
    date_dt = dt.datetime.strptime(date, "%m/%d/%Y %H:%M") # making the date column to be a datetime object
    hour = date_dt.strftime("%H") #select just the hour from the datetime object.
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = comment
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += comment

print(type(comments_by_hour[hour]))
print(type(counts_by_hour[hour]))
print(type(comment))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
Create a list that equals avg_by_hour with swapped columns.
Create an empty list and assign it to swap_avg_by_hour.
Iterate over the rows of avg_by_hour, and append to swap_avg_by_hour a list whose first element is the second element of the row, and whose second element is the first element of the row.

In [34]:
avg_by_hour = [] # a list that will contain the hour and average comments per post in that hour

for hour in comments_by_hour:
    average = (comments_by_hour[hour]) / (counts_by_hour[hour])
    avg_by_hour.append([hour, average])
    
print("The average number of comments per post by hour is:")
avg_by_hour

The average number of comments per post by hour is:

[['09', 8.172222222222222],
 ['13', 14.114705882352942],
 ['10', 12.402542372881356],
 ['14', 13.815420560747663],
 ['16', 15.789351851851851],
 ['23', 9.4375],
 ['12', 10.465753424657533],
 ['17', 14.5575],
 ['15', 31.43103448275862],
 ['21', 14.11697247706422],
 ['20', 18.5625],
 ['02', 21.448275862068964],
 ['18', 13.522935779816514],
 ['03', 10.935185185185185],
 ['05', 14.222826086956522],
 ['19', 12.3],
 ['01', 9.995833333333334],
 ['22', 11.507042253521126],
 ['08', 9.40625],
 ['04', 9.26595744680851],
 ['00', 7.972727272727273],
 ['06', 9.727272727272727],
 ['07', 9.713235294117647],
 ['11', 11.254310344827585]]

In [38]:
swap_avg_by_hour = []
for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
swap_avg_by_hour

[[8.172222222222222, '09'],
 [14.114705882352942, '13'],
 [12.402542372881356, '10'],
 [13.815420560747663, '14'],
 [15.789351851851851, '16'],
 [9.4375, '23'],
 [10.465753424657533, '12'],
 [14.5575, '17'],
 [31.43103448275862, '15'],
 [14.11697247706422, '21'],
 [18.5625, '20'],
 [21.448275862068964, '02'],
 [13.522935779816514, '18'],
 [10.935185185185185, '03'],
 [14.222826086956522, '05'],
 [12.3, '19'],
 [9.995833333333334, '01'],
 [11.507042253521126, '22'],
 [9.40625, '08'],
 [9.26595744680851, '04'],
 [7.972727272727273, '00'],
 [9.727272727272727, '06'],
 [9.713235294117647, '07'],
 [11.254310344827585, '11']]

Use the sorted() function to sort swap_avg_by_hour in descending order. Since the first column of this list is the average number of comments, sorting the list will sort by the average number of comments.
Set the reverse argument to True, so that the highest value in the first column appears first in the list.
Assign the result to sorted_swap.

In [37]:
sorted_swap = sorted(swap_avg_by_hour, reverse = True) 
sorted_swap

[[31.43103448275862, '15'],
 [21.448275862068964, '02'],
 [18.5625, '20'],
 [15.789351851851851, '16'],
 [14.5575, '17'],
 [14.222826086956522, '05'],
 [14.11697247706422, '21'],
 [14.114705882352942, '13'],
 [13.815420560747663, '14'],
 [13.522935779816514, '18'],
 [12.402542372881356, '10'],
 [12.3, '19'],
 [11.507042253521126, '22'],
 [11.254310344827585, '11'],
 [10.935185185185185, '03'],
 [10.465753424657533, '12'],
 [9.995833333333334, '01'],
 [9.727272727272727, '06'],
 [9.713235294117647, '07'],
 [9.4375, '23'],
 [9.40625, '08'],
 [9.26595744680851, '04'],
 [8.172222222222222, '09'],
 [7.972727272727273, '00']]

Print the string "Top 5 Hours for Ask Posts Comments".
Loop through each average and each hour (in this order) in the first five lists of sorted_swap.
Use the str.format() method to print the hour and average in the following format: 15:00: 38.59 average comments per post.
To format the hours, use the datetime.strptime() constructor to return a datetime object, and then use the strftime() method to specify the format of the time.
To format the average, you can use {:.2f} to indicate only two decimal places.

In [43]:
print("Top 5 Hours for Ask Posts Comments")

for row in sorted_swap[:5]:
    avg_comment = row[0]
    hour = row[1]
    hour_dt = dt.datetime.strptime(hour,'%H')
    hour_final = hour_dt.strftime('%H:%m')
    print('{}: {:.2f} average comments per post.'.format(hour_final, avg_comment))

Top 5 Hours for Ask Posts Comments
15:01: 31.43 average comments per post.
02:01: 21.45 average comments per post.
20:01: 18.56 average comments per post.
16:01: 15.79 average comments per post.
17:01: 14.56 average comments per post.

From the annalysis above, one should create a post at 1500 hours to have higher chance of receiving comments.